@tailwind base;
@tailwind components;
@tailwind utilities;

.cui-steps__step-icon-container span {
  color: white;
}

.cui-steps__step-icon-container[aria-current="step"] {
  background: var(--chakra-colors-brand-900) !important;
}

button a {
  color: inherit;
}

.sticky.left-0 {
  position: absolute;
  left: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
